services:
    server:
        build:
            context: .
            dockerfile: docker/server.Dockerfile
        env_file:
            - server/.env
        environment:
            - CLIENT_URL=https://team-generator.kisukesaama.com
            - DATABASE_URL=/app/data/database.sqlite
        volumes:
            - ./server/data:/app/data
        expose:
            - "3000"

    web:
        build:
            context: .
            dockerfile: docker/client.Dockerfile
            args:
                VITE_API_URL: "https://team-generator.kisukesaama.com"
        ports:
            - "8081:80"
        depends_on:
            server:
                condition: service_started
