services:
    server:
        build:
            context: .
            dockerfile: docker/server.Dockerfile
        env_file:
            - server/.env
        environment:
            - CLIENT_URL=http://localhost:8080
            - DATABASE_URL=/app/data/database.sqlite
        volumes:
            - ./server/data:/app/data
        expose:
            - '3000'

    web:
        build:
            context: .
            dockerfile: docker/client.Dockerfile
            args:
                VITE_API_URL: ''
        ports:
            - '8080:80'
        depends_on:
            server:
                condition: service_started
